.filters-container {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.filters-container h4 {
	margin: 12px 0 4px;
	font-size: 14px;
	font-weight: 600;
	color: #ffd;
}

.filters-container label {
	font-size: 13px;
	cursor: pointer;
	display: flex;
	gap: 8px;
	align-items: center;
}
